{%extends "layout2.html" %}
{%from "_macros.html" import input_Form %}
{%block content %}

<div class="contenido" style="display: grid;grid-template-columns:0.4fr .9fr;height:86vh;">
    <aside class="cointainer-aside"
        style="background-color:rgba(208, 211, 212);max-height: 650px;max-width:100%; overflow-y: auto;">
        <div>
            <table id="list" width="100%">
                <thead>
                    <th>Prod</th>
                    <th>700g</th>
                    <th>1kg</th>
                    <th>PZ</th>
                    <th>$</th>
                    <th>SubTotal</th>
                </thead>
                <tbody>
                    {% if ticket and ticket | length > 0%}
                    {% for key in ticket %}
                    {%set dato = key.split(":")%}
                    <tr>
                        <form method="POST" action="/puntoDeVenta" id="{{key}}">
                            <input type="hidden" name="_method" id="_method" value="">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="indice" value="{{ loop.index }}">
                            <td>{{ dato[0]}}</td>
                            <td>{{dato[1]}}</td>
                            <td>{{dato[2]}}</td>
                            <td>{{dato[3]}}</td>
                            <td>{{dato[4]}}</td>
                            <td>{{dato[5]}}</td>

                        </form>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>

            </table>


            <button id="button-delete" class="btn btn-danger button-ticket" data-valor="DELETE">Eliminar
                seleccionado</button>
            <form action="/puntoDeVenta" method="POST" id="delete-all">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="_method" value="DELETE-ALL">
                <button id="button-delete-all" class="btn btn-danger button-ticket" data-valor="DELETE-ALL"
                >Eliminar venta</button>
            </form>
            
            <button id="button-modify" class="btn btn-info button-ticket" data-valor="UPDATE" disabled>Modificar
                seleccionado</button>
            <form action="/puntoDeVenta" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="_method" value="SUBMIT">
                <button id="button-finished" type="sumbit" class="btn btn-success" data-valor="SUBMIT">Terminar
                    venta</button>
            </form>


        </div>

    </aside>
    <div class=" container " style="background-color:rgba(212, 230, 241); justify-content:center;align-items:center;max-height: 150%; max-width:150%;
        overflow-y: auto;">





        <div class="row galletas accordion accordion-flush" id="accordionFlushExample" style="margin-top:5%;">

            {% for batch in galletas|batch(3) %}


            {% for galleta in batch %}
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed imagen" id="imagen-{{galleta.id_galleta}}"
                                style="height: 300px;width:300px;" data-bs-toggle="collapse"
                                data-bs-target="#A-{{galleta.id_galleta }}" aria-expanded="false"
                                aria-controls="A-{{ galleta.id_galleta }}">


                                <!--  -->
                                <img class="" id="imagen-{{ galleta.id_galleta }}"
                                    style="border-radius:50%; margin-left:-20px;margin-top:-15px;" width="300"
                                    height="300" src="{{ galleta.detalles_receta.img_galleta }}" alt="">
                                <div class="overlay">
                                    <div style="color: white;">
                                        {{ galleta.detalles_receta.nombreReceta }}
                                    </div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="300" height="300"
                                        style="border-radius: 50%;" fill="currentColor" class="bi bi-patch-plus"
                                        viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5" />
                                        <path
                                            d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911z" />
                                    </svg>

                                </div>


                                <!-- 
                                </button> -->
                            </button>
                        </h2>


                        <div id="A-{{ galleta.id_galleta }}" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">


                                <form id="form-{{ galleta.id_galleta }}" action="/puntoDeVenta" method="POST">

                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                                    <input class="form-control" type="hidden" name="nombre"
                                        value="{{ galleta.detalles_receta.nombreReceta }}">

                                    <div class="col-auto">
                                        <div class="form-floating " style="white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                max-width: calc(100% - 0px);
                                position:relative;">

                                            <input class="form-control " type="number" name="cajas1"
                                                placeholder="Número de cajas 1kg" min="1"
                                                max="{{galleta.existencias_caja1}}" width="30">
                                            <label class="form-label text-truncate overflow-hidden " style="white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    max-width: calc(100% - 0px);" for="cajas1">No. cajas 1kg
                                                <b>${{galleta.precio_caja1}}/1kg</b></label>

                                        </div>
                                        <span
                                            class="position-sticky top-0 start-100 translate-middle badge rounded-pill bg-danger">

                                            {{galleta.existencias_caja1}}
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                    </div>

                                    <div class="col-auto">

                                        <div class="form-floating" style="white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            max-width: calc(100% - 0px);
                            position:relative;">

                                            <input class="form-control" type="number" name="cajas700"
                                                placeholder="Número de cajas 700g" min="0"
                                                max="{{galleta.existencias_caja700}}" width="30">

                                            <label class="form-label" for="cajas700" style="white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                max-width: calc(100% - 0px);">No. cajas 700g
                                                <b>${{galleta.precio_caja700}}/700g</b></label>

                                        </div>
                                        <span
                                            class="position-sticky top-0 start-100 translate-middle badge rounded-pill bg-danger">

                                            {{galleta.existencias_caja700}}
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                    </div>

                                    <div class="col-auto">
                                        <div class="form-floating" style="white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            max-width: calc(100% - 0px);
                            position:relative;">
                                            <input class="form-control" type="number" name="piezas"
                                                placeholder="No. piezas" min="0" max="{{galleta.existencias_pieza}}"
                                                width="30">

                                            <label class="form-label" for="piezas" style="white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                max-width: calc(100% - 0px);">No. piezas <b>${{ galleta.precio_unidad
                                                    }}/PZ</b></label>

                                        </div>
                                        <span type="button"
                                            class="btn position-sticky top-0 start-100 translate-middle badge rounded-pill bg-danger"
                                            data-bs-toggle="popover"
                                            data-bs-title="{{ galleta.detalles_receta.nombreReceta }}"
                                            data-bs-content="And here's some amazing content. It's very engaging. Right? <a href='#' class='btn btn-success'>solicitar</a> "
                                            data-bs-html="true">

                                            {{galleta.existencias_pieza}}

                                        </span>
                                    </div>


                                    <div class="col-auto">
                                        <div class="form-floating" style="white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            max-width: calc(100% - 0px);
                            position:relative;">
                                            {%set g =galleta.existencias_pieza * galleta.precio_unidad%}
                                            <input class="form-control" type="number" name="pesos"
                                                placeholder="Cantidad en pesos ej. $10" min="0" max="{{g}}" width="30">
                                            <label class="form-label" for="pesos" style="white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                max-width: calc(100% - 0px);">Cantidad de pesos</label>

                                        </div>
                                        <span
                                            class="position-sticky top-0 start-100 translate-middle badge rounded-pill bg-danger">


                                            {{g}}
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                    </div>


                                    <input type="hidden" name="id" value="{{ galleta.id_galleta }}">
                                    <button href="#" class="button-galleta btn btn-success" type="button"
                                        id="imagen-{{galleta.id_galleta}}"
                                        data-galleta-id="{{ galleta.id_galleta }}">Agregar</button>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            {% endfor %}


            <hr>

            {% endfor %}
        </div>


    </div>
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
    <script>
        $(document).ready(function () {
            alert("{{message}}", "{{category}}");
        });
    </script>
    {% endfor %}
{% endif %}
{% endwith %}

{%if mensaje%}
{%if mensaje == "Producto existente en lista" or mensaje == "Sin valores al agregar"%}
<script>
    $(document).ready(function () {
        alert("{{mensaje}}", "warning");
    });
</script>
{%else%}

<script>
    $(document).ready(function () {
        alert("{{mensaje}}", "success")
    });

</script>
{%endif%}
{%endif%}

<script>
    $(document).ready(function () {


        $("#list").dataTable({
            dom: 'Bftp',
            language: { url: '../static/json/TablesEsp.json' },
            responsive: true,
            pagingType: "full_numbers",
            TableTools: {
                sRowSelect: "single"
            },
            lengthMenu: [[-1], ["All"]],
            buttons: [
                {
                    extend: 'pdfHtml5',
                    customize: function (doc) {
                        // Agregar imagen
                        doc.content.splice(0, 0, {
                            margin: [0, 0, 0, 12], // Margen inferior
                            alignment: 'center', // Centrar
                            image: '',
                            fit: [200, 200] // Tamaño de la imagen
                        });

                        // Estilo de formato tipo ticket
                        doc.styles.tableHeader = {
                            bold: true,
                            fontSize: 12,
                            color: 'black',
                            fillColor: 'gray', // Color de fondo
                            alignment: 'center'
                        };
                        doc.styles.tableBodyEven = {
                            fontSize: 10,
                            color: 'black',
                            fillColor: 'white', // Color de fondo
                            alignment: 'center'
                        };
                        doc.styles.tableBodyOdd = {
                            fontSize: 10,
                            color: 'black',
                            fillColor: '#f3f3f3', // Color de fondo
                            alignment: 'center'
                        };

                        // Añadir una clase 'ticket' al documento para aplicar estilos adicionales
                        if (doc.document && doc.document.body) {
                            $(doc.document.body).addClass('ticket');
                        }
                    }
                },
                {
                    extend: 'print',
                    customize: function (win) {
                        $(win.document.body).prepend('<img src="../static/bootstrap/img/cookieland.png" style="position: absolute; top: 70%; left: 50%`; transform: translate(-50%, -50%); width: 100px;">');

                        // Agregar datos de la empresa ficticia
                        $(win.document.body).prepend('<h2 style="text-align: center;">Empresa Ficticia S.A.</h2>');
                        $(win.document.body).prepend('<p style="text-align: center;">Dirección: Calle Ficticia #123</p>');
                        $(win.document.body).prepend('<p style="text-align: center;">Teléfono: 123-456-7890</p>');
                        $(win.document.body).prepend('<p style="text-align: center;">Correo electrónico: info@empresaficticia.com</p>');
                    }
                }
            ]

        });





        const table = new DataTable('#list');
        table.on('click', 'tbody tr', (e) => {
            let classList = e.currentTarget.classList;

            if (classList.contains('selected')) {
                classList.remove('selected');
            }
            else {
                table.rows('.selected').nodes().each((row) => row.classList.remove('selected'));
                classList.add('selected');
            }
        });

        $('#button').on('click', function () {
            const selectedRow = table.row('.selected');
            if (selectedRow.any()) {
                const formId = selectedRow.node().querySelector('form').id;
                document.getElementById(formId).submit();
            } else {
                alert('Por favor, selecciona una fila.');
            }
        });


        $('.button-galleta').click(function () {
            var galletaId = $(this).data('galleta-id');
            var formId = '#form-' + galletaId;
            var respuesta = verificar(formId);
            if (respuesta != 0){
                $(formId).submit();
            }
            

        });






        /* document.querySelector('#button').addEventListener('click', function () {
             // Remueve la fila seleccionada
             const filaSeleccionada = document.querySelector('.selected');
             filaSeleccionada.parentNode.removeChild(filaSeleccionada);
         });
         */




        $(".button-ticket").click(function () {
            var input = $(this).data("valor");
            if (input == "DELETE"  ) {
                event.preventDefault();
                Swal.fire({
                    title: "Estas seguro?",
                    text: "No podras revertirlo!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    cancelButtonText: "Cancelar",
                    confirmButtonText: "Si, eliminalo!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        const selectedRow = table.row('.selected');
                        if (selectedRow.any()) {

                            $("#_method").val(input);
                            const formId = selectedRow.node().querySelector('form').id;
                            document.getElementById(formId).submit();
                        } else {

                            alert('Por favor, selecciona una fila.', "warning");
                        }

                    }
                });
            }   else if(input =="DELETE-ALL"){

                event.preventDefault();
                Swal.fire({
                    title: "Estas seguro?",
                    text: "No podras revertirlo!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    cancelButtonText: "Cancelar",
                    confirmButtonText: "Si, eliminalo!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        

                       
                           
                            $("#delete-all").submit();
                        
                    }
                });
            }          else {
                $("#_method").val(input);
                const formId = selectedRow.node().querySelector('form').id;
                document.getElementById(formId).submit();
                console.log(input);

            }
        });
        /*$("form").submit(function (event) {
            event.preventDefault();

        });*/
    });
    /* function disabledbutton(id) {
         // Deshabilitar todos los botones cuyos IDs comienzan con "imagen-"
         $('[id^="imagen-"]').not('#' + id).prop("disabled", true);
 
         $("#" + id).prop("disabled", false);
 
 
         console.log(id);
     }*/
   
    function verificar(id) {
        // Obtener los valores de los campos dentro del formulario específico
        var nombre =$(id + " input[name='nombre']").val();
        var cajas1 = parseInt($(id + " input[name='cajas1']").val());
        var cajas700 = parseInt($(id + " input[name='cajas700']").val());
        var piezas = parseInt($(id + " input[name='piezas']").val());
        var pesos = parseInt($(id + " input[name='pesos']").val());

        // Obtener los valores máximos de cada campo
        var maxCajas1 = parseInt($(id + " input[name='cajas1']").attr("max"));
        var maxCajas700 = parseInt($(id + " input[name='cajas700']").attr("max"));
        var maxPiezas = parseInt($(id + " input[name='piezas']").attr("max"));
        var maxPesos = parseInt($(id + " input[name='pesos']").attr("max"));

        // Validar cada campo
        if (cajas1 > maxCajas1) {
            alert("El número de cajas 1kg excede el máximo permitido",'warning',nombre);
            event.preventDefault(); // Detener el envío del formulario
            return 0
        }
        if (cajas700 > maxCajas700) {
            alert("El número de cajas 700g excede el máximo permitido",'warning',nombre);
            event.preventDefault(); // Detener el envío del formulario
            return 0
        }
        if (piezas > maxPiezas) {
            alert("El número de piezas excede el máximo permitido",'warning',nombre);
            event.preventDefault(); // Detener el envío del formulario
            return 0
        }
        if (pesos > maxPesos) {
            alert("La cantidad de pesos excede el máximo permitido",'warning',nombre);
            event.preventDefault(); // Detener el envío del formulario
            return 0
        }
    }

</script>

<script>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function () {
            navigator.serviceWorker.register('static/sw.js')
                .then(registration => {
                    console.log('Service Worker registrado:', registration);
                })
                .catch(error => {
                    console.error('Error al registrar el Service Worker:', error);
                });
        });
    } else {
        console.log('Service Worker no soportado en este navegador.');
    }
</script>
<script src="../../static/alert.js"></script>
{% endblock %}