{% extends "login_layout.html" %} 
{%import "_macros.html" as macros%}
{%from "_macros.html" import render_field%}

{%block content %}  
<div class="col-md-11 mx-auto" >
    <div class="card">
    <div class="card-body">
    <div class="container">
        <div class="row">
            <div class="col-md-11">
                <h1>No cuenta con los permisos necesarios para acceder al recurso contacte con el administrador</h1>

                
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-1">
                <a class="btn btn-warning" onclick="goBack()">Volver</a>
            </div>

        </div>
    </div>
    </div>
    </div>
</div>
    <script>
        function goBack() {
          window.history.back();
        }
        </script>

{%endblock%}