{% extends "layout2.html" %} 
{%import "_macros.html" as macros%}
{%from "_macros.html" import render_field%}

{%block content %}  
<style>
    .scrollable-input {
        max-width: 100%; /* Ancho máximo */
        max-height: 600px; /* Altura máxima */
        overflow: auto; /* Desplazamiento */
    }    
</style>

<div class="container">
    <div class="row">

        <div class="col-md-4">
            <form id="catalogo" action="" method="post" >
                           
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                <h3>Agregar nuevo ingrediente al catalogo</h3>
                {{macros.input_Form(form.nombre)}}
                {{macros.input_Form(form.minimo_compra)}}
                {{macros.input_Form(form.maximo_compra)}}
            
                <br>
                <br>
                <input id="btn-catalogo" class="btn btn-success" name="ingresarCatalogo" type="submit">
            </form>

        </div>
        <div class="col-md-8">
            <div  class="scrollable-input">
            <table class="table table-triped table-bordered">
                <thead>
                    <tr>
                        
                        <th>Nombre</th>
                        
                        <th>Mínimo de compra</th>
                        <th>Máximo de compra</th>
                        <th>Eliminar</th>
                        <th>Modificar</th>
                        
                        
                        
                    </tr>
                </thead>
                
                <tbody>
                    
                        {% for item in listaCatalogo %}
                        {%if item.estatus==1%}
                        <tr>
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.compra_minimo }}</td>
                        <td>{{ item.compra_maxima }}</td>
                        <td><a onclick="eliminar('{{item.idMateriaPrimaCatalogo}}')"  class="btn btn-danger">eliminar</a></td>
                        <td><a class="btn btn-warning">modificar</a></td>
                        {%else%}
                            
                        {%endif%}

                    </tr>
                    {% endfor %}

                   
                    
                </tbody>
            
            </table>
            <form  class="hidden" id="eliminarCatalogoForm" action="/eliminar" method="POST">
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                {{macros.input_Form_id(form.id,id="idEliminar")}}
                
            </form>
        </div>
        </div>

    </div>

</div>
<script>
    function agregarCatalago(){

        document.getElementById('catalogo').submit();
    }
    
    function eliminar(id){
        
        document.getElementById('eliminarCatalogoForm').querySelector('[id="idEliminar"]').value = id;
        
        document.getElementById('eliminarCatalogoForm').submit();
        
        
    }
    
        
    

</script>




{%endblock%}